doctype html
html
  head
    title Digital Me
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script
        include js/emojionearea.min.js
    script
        include js/scripts.js
    script
        include js/script1.js
    script
        include js/script2.js
    script
        include js/script3.js
    script
        include js/script4.js
    style
        include css/emojionearea.min.css
    style
       include css/style.css

  body.w3-light-grey.w3-content(style='max-width:1600px')
    // Navbar (sit on top)
    .w3-top
      .w3-bar.w3-white.w3-padding.w3-card(style='letter-spacing:4px;')
        a.w3-bar-item.w3-button(href='#home') Digital Me
        // Right-sided navbar links. Hide them on small screens
        .w3-right.w3-hide-small
          a.w3-bar-item.w3-button(href='#menu') LogOut
    // Sidebar/menu
    nav#mySidebar.w3-sidebar.w3-collapse.w3-white.w3-animate-left(style='z-index:3;width:300px; margin-top: 4px;')
      br
      .w3-container
        a.w3-hide-large.w3-right.w3-jumbo.w3-padding.w3-hover-grey(href='#', onclick='w3_close()', title='close menu')
          i.fa.fa-remove
        img.w3-round(src='imagens/fotoRicardo.jpg', style='width:45%;')
        br
        br
        h4
          b Ricardo Rodrigues
        p.w3-text-grey Área Pessoal
      .w3-bar-block
        a.w3-bar-item.w3-button.w3-padding.w3-text-teal(href='#portfolio', onclick='w3_close()')
          i.fa.fa-th-large.fa-fw.w3-margin-right
          | Cronologia
        a.w3-bar-item.w3-button.w3-padding(onclick='w3_close()', data-toggle='modal', data-target='#DPModal')
          i.fa.fa-envelope.fa-fw.w3-margin-right
          | Dados pessoais
        a.w3-bar-item.w3-button.w3-padding(onclick='w3_close()', data-toggle='modal', data-target='#publicarModal')
          i.fa.fa-paper-plane-o.fa-fw.w3-margin-right
          | Publicar
      .w3-panel.w3-large
        i.fa.fa-facebook-official.w3-hover-opacity
        i.fa.fa-instagram.w3-hover-opacity
        i.fa.fa-snapchat.w3-hover-opacity
        i.fa.fa-pinterest-p.w3-hover-opacity
        i.fa.fa-twitter.w3-hover-opacity
        i.fa.fa-linkedin.w3-hover-opacity
    // Overlay effect when opening sidebar on small screens
    #myOverlay.w3-overlay.w3-hide-large.w3-animate-opacity(onclick='w3_close()', style='cursor:pointer', title='close side menu')
    // !PAGE CONTENT!
    .w3-main(style='margin-left:300px')
      // Header
      header#portfolio(style='margin-top: 50px')
        // a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a
        span.w3-button.w3-hide-large.w3-xxlarge.w3-hover-text-grey(onclick='w3_open()')
          i.fa.fa-bars
        .w3-container
          h1
            b Perfil
          .w3-section.w3-bottombar.w3-padding-16
            span.w3-margin-right Filtro:
            button.w3-button.w3-black Tudo
            button.w3-button.w3-white.w3-hide-small
              i.fa.fa-comment-o.w3-margin-right
              | Pensamentos
            button.w3-button.w3-white.w3-hide-small
              i.fa.fa-photo.w3-margin-right
              | Fotos
            button.w3-button.w3-white.w3-hide-small
              i.fa.fa-soccer-ball-o.w3-margin-right
              | Registos Desportivos
            button.w3-button.w3-white.w3-hide-small
              i.fa.fa-caret-square-o-right.w3-margin-right
              | Vídeos
            button.w3-button.w3-white.w3-hide-small
              i.fa.fa-cutlery.w3-margin-right
              | Receitas
            button.w3-button.w3-white.w3-hide-small
              i.fa.fa-group.w3-margin-right
              | Eventos
      // Template Foto
      .w3-container.w3-white.w3-margin.w3-padding-large
        .w3-row.w3-margin-bottom
          hr
          .w3-col.l1.m3
            img(src='imagens/fotoRicardo.jpg', style='width:50px; border-radius: 50%;')
          .w3-col.l6.m9
            h4
              | Ricardo 
              span.w3-opacity.w3-medium 18 de janeiro de 2017 às 13h24, em Universidade do Minho
        .w3-justify
          p
            | More Hats! I am crazy about hats these days. Some text about this blog entry. Fashion fashion and mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl.
          .w3-container
            center
              img.w3-padding-16(src='imagens/girl_hat.jpg', align='middle', style='width:900px;')
          p.w3-left
            button.w3-button.w3-white.w3-border(onclick='likeFunction(this)')
              b
                i.fa.fa-thumbs-up
                |  Like
            button.w3-button.w3-white.w3-border(type='button', data-toggle='modal', data-target='#myModal')
              b
                i.fa.fa-commenting-o
                |  Comentar
          p.w3-right
            button#myBtn.w3-button.w3-black(onclick="myFunction('demo1')")
              b Comentários
              span.w3-tag.w3-white 1
          p.w3-clear
          #demo1.w3-row.w3-margin-bottom(style='display:none')
            hr
            .w3-col.l2.m3
              img(src='imagens/fotoSantos.jpg', style='width:90px;')
            .w3-col.l10.m9
              h4
                | George 
                span.w3-opacity.w3-medium May 3, 2015, 6:32 PM
              p Great blog post! Following
      hr
      // Template Video
      .w3-container.w3-white.w3-margin.w3-padding-large
        .w3-row.w3-margin-bottom
          hr
          .w3-col.l1.m3
            img(src='imagens/fotoRicardo.jpg', style='width:50px; border-radius: 50%;')
          .w3-col.l6.m9
            h4
              | Ricardo 
              span.w3-opacity.w3-medium 18 de janeiro de 2017 às 13h24, em Universidade do Minho
        .w3-justify
          p
            | More Hats! I am crazy about hats these days. Some text about this blog entry. Fashion fashion and mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl.
          .w3-container
            center
              video(width='700', style='margin-top: 20px', controls='')
                source(src='videos/videoplayback.mp4', type='video/mp4')
                |                 Your browser does not support HTML5 video.
          p.w3-left
            button.w3-button.w3-white.w3-border(onclick='likeFunction(this)')
              b
                i.fa.fa-thumbs-up
                |  Like
            button.w3-button.w3-white.w3-border(type='button', data-toggle='modal', data-target='#myModal')
              b
                i.fa.fa-commenting-o
                |  Comentar
          p.w3-right
            button#myBtn.w3-button.w3-black(onclick="myFunction('demo2')")
              b Comentários
              span.w3-tag.w3-white 1
          p.w3-clear
          #demo2.w3-row.w3-margin-bottom(style='display:none')
            hr
            .w3-col.l2.m3
              img(src='imagens/fotoSantos.jpg', style='width:90px;')
            .w3-col.l10.m9
              h4
                | George 
                span.w3-opacity.w3-medium May 3, 2015, 6:32 PM
              p Great blog post! Following
      hr
      // Template Pensamento
      .w3-container.w3-white.w3-margin.w3-padding-large
        .w3-row.w3-margin-bottom
          hr
          .w3-col.l1.m3
            img(src='imagens/fotoRicardo.jpg', style='width:50px; border-radius: 50%;')
          .w3-col.l6.m9
            h4
              | Ricardo 
              span.w3-opacity.w3-medium 18 de janeiro de 2017 às 13h24, em Universidade do Minho
        .w3-justify
          p
            | More Hats! I am crazy about hats these days. Some text about this blog entry. Fashion fashion and mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl.
          p.w3-left
            button.w3-button.w3-white.w3-border(onclick='likeFunction(this)')
              b
                i.fa.fa-thumbs-up
                |  Like
            button.w3-button.w3-white.w3-border(type='button', data-toggle='modal', data-target='#myModal')
              b
                i.fa.fa-commenting-o
                |  Comentar
          p.w3-right
            button#myBtn.w3-button.w3-black(onclick="myFunction('demo3')")
              b Comentários
              span.w3-tag.w3-white 1
          p.w3-clear
          #demo3.w3-row.w3-margin-bottom(style='display:none')
            hr
            .w3-col.l2.m3
              img(src='imagens/fotoSantos.jpg', style='width:90px;')
            .w3-col.l10.m9
              h4
                | George 
                span.w3-opacity.w3-medium May 3, 2015, 6:32 PM
              p Great blog post! Following
      hr
      // Template Receita
      .w3-container.w3-white.w3-margin.w3-padding-large
        .w3-row.w3-margin-bottom
          hr
          .w3-col.l1.m3
            img(src='imagens/fotoRicardo.jpg', style='width:50px; border-radius: 50%;')
          .w3-col.l6.m9
            h4
              | Ricardo 
              span.w3-opacity.w3-medium 18 de janeiro de 2017 às 13h24, em Universidade do Minho
        .w3-justify
          h3
            b Crepes
          h3 Ingredientes:
          ul
            li 1 pitada de sal 
            li 250 ml de leite
            li Manteiga
            li 12 colheres (sopa) de farinha de 
            li Trigo
            li 3 ovos
          h3 Preparação:
          p
            | Bata os ovos em uma tigela com o sal; junte a farinha peneirada, misturando com um batedor manual. Adicione, aos poucos, o leite e continue a bater até obter uma massa lisa e homogênea. Cubra a tigela e deixe a massa descansar por 30 minutos.
            | A seguir, bata a massa por mais alguns instantes. Aqueça uma frigideira antiaderente de 18 cm de diâmetro, pincele generosamente com manteiga derretida (assim, não corre o risco de a massa grudar na frigideira).
            | Retire a frigideira do fogo e despeje rapidamente 1 concha da massa preparada. Gire rapidamente a frigideira, inclinando-a em todas as direções de modo que a massa seja distribuída de forma homogênea e forme uma camada bem fina.
            | Volte a frigideira ao fogo e deixe cozinhar o crêpe, em fogo médio, até que o lado inferior esteja dourado e as bordas comecem a se desprender. Esse processo deve durar cerca de 1 minuto.
          //
            div class="w3-container">
            <center>
            <img src="imagens/crepes.jpg" align="middle" style="width:700px" class="w3-padding-16">
            </center>
            </div
          .w3-content.w3-display-container(style='max-width:800px')
            img.mySlides(src='imagens/crepes.jpg', style='width:800px; height: 500px')
            img.mySlides(src='imagens/crepes2.jpg', style='width:800px; height: 500px')
            img.mySlides(src='imagens/crepes3.jpg', style='width:800px; height: 500px')
            .w3-center.w3-container.w3-section.w3-large.w3-text-white.w3-display-bottommiddle(style='width:100%')
              .w3-left.w3-hover-text-khaki(onclick='plusDivs(-1)') ❮
              .w3-right.w3-hover-text-khaki(onclick='plusDivs(1)') ❯
              span.w3-badge.demo.w3-border.w3-transparent.w3-hover-white(onclick='currentDiv(1)')
              span.w3-badge.demo.w3-border.w3-transparent.w3-hover-white(onclick='currentDiv(2)')
              span.w3-badge.demo.w3-border.w3-transparent.w3-hover-white(onclick='currentDiv(3)')
          .w3-container(style='margin-top: 15px')
            p.w3-left
              button.w3-button.w3-white.w3-border(onclick='likeFunction(this)')
                b
                  i.fa.fa-thumbs-up
                  |  Like
              button.w3-button.w3-white.w3-border(type='button', data-toggle='modal', data-target='#myModal')
                b
                  i.fa.fa-commenting-o
                  |  Comentar
            p.w3-right
              button#myBtn.w3-button.w3-black(onclick="myFunction('demo4')")
                b Comentários
                span.w3-tag.w3-white 1
          p.w3-clear
          #demo4.w3-row.w3-margin-bottom(style='display:none')
            hr
            .w3-col.l2.m3
              img(src='imagens/fotoSantos.jpg', style='width:90px;')
            .w3-col.l10.m9
              h4
                | George 
                span.w3-opacity.w3-medium May 3, 2015, 6:32 PM
              p Great blog post! Following
      hr
      // Template Registo desportivo
      .w3-container.w3-white.w3-margin.w3-padding-large
        .w3-row.w3-margin-bottom
          hr
          .w3-col.l1.m3
            img(src='imagens/fotoRicardo.jpg', style='width:50px; border-radius: 50%;')
          .w3-col.l6.m9
            h4
              | Ricardo 
              span.w3-opacity.w3-medium 18 de janeiro de 2017 às 13h24, em Universidade do Minho
        .w3-justify
          h3 Registo desportivo:
          ul
            li
              b Desporto:
              |  Corrida
            li
              b Duração:
              |   00:57:35h
            li
              b Local:
              |  Universidade do Minho
            li
              b Calorias gastas:
              |  179kcal
          h3 Descrição:
          p No pain, no gain!
          p
          p.w3-left
            button.w3-button.w3-white.w3-border(onclick='likeFunction(this)')
              b
                i.fa.fa-thumbs-up
                |  Like
            button.w3-button.w3-white.w3-border(type='button', data-toggle='modal', data-target='#myModal')
              b
                i.fa.fa-commenting-o
                |  Comentar
          p.w3-right
            button#myBtn.w3-button.w3-black(onclick="myFunction('demo5')")
              b Comentários
              span.w3-tag.w3-white 1
          p.w3-clear
          #demo5.w3-row.w3-margin-bottom(style='display:none')
            hr
            .w3-col.l2.m3
              img(src='imagens/fotoSantos.jpg', style='width:90px;')
            .w3-col.l10.m9
              h4
                | George 
                span.w3-opacity.w3-medium May 3, 2015, 6:32 PM
              p Great blog post! Following
      hr
      .w3-black.w3-center.w3-padding-24 Powered by MIETI
      // End page content
    // Modal-Comentários
    #myModal.modal.fade(role='dialog')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Comentário:
          .modal-body
            form
              // textarea rows="4" cols="75" autofocus
              textarea#example1(rows='4', cols='75', autofocus='')
          .modal-footer
            button.w3-button.w3-white.w3-border(type='submit')
              i.fa.fa-check
              |  Enviar Comentário
            button.w3-button.w3-white.w3-border(type='button', data-dismiss='modal')
              i.fa.fa-close.fa-fw
              |  Sair
    // Modal-Publicar
    #publicarModal.modal.fade(role='dialog')
      .modal-dialog.modal-lg
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Publicação:
          .modal-body
            .modal-body(style='margin-bottom: 20px')
              center
                button#btn_pensamentos.w3-button(style='background-color: #cccccc')
                  i.fa.fa-comment-o.w3-margin-right
                  | Pensamentos
                button#btn_fotos.w3-button
                  i.fa.fa-photo.w3-margin-right
                  | Fotos
                button#btn_desportivo.w3-button
                  i.fa.fa-soccer-ball-o.w3-margin-right
                  | Registos Desportivos
                button#btn_videos.w3-button
                  i.fa.fa-caret-square-o-right.w3-margin-right
                  | Vídeos
                button#btn_receita.w3-button
                  i.fa.fa-cutlery.w3-margin-right
                  | Receitas
            form
              // PENSAMENTO
              #pensamentos.form-row
                h3 Publicar Pensamento:
                label.col-form-label Pensamento:
                br
                textarea#example2(rows='4', cols='115', placeholder='Em que está a pensar?')
                label.col-form-label(style='margin-top:10px') Privacidade:
                select#priv.form-control(style='width: 150px; margin-bottom: 10px')
                  option(valeu='pub') Público
                  option(valeu='priv') Privado
              // FOTO
              #fotos.form-row(hidden='')
                h3 Publicar Foto:
                label.col-form-label Descrição:
                br
                textarea#example3(rows='2', cols='115')
                .form-row
                  label.col-form-label(style='margin-top:10px') Escolher Foto:
                  input#foto.form-group(type='file', name='foto')
                  label.col-form-label Privacidade:
                  select#priv.form-control(style='width: 150px; margin-bottom: 10px')
                    option(valeu='pub') Público
                    option(valeu='priv') Privado
              // VIDEO
              #videos.form-row(hidden='')
                h3 Publicar Vídeo:
                label.col-form-label Descrição:
                br
                textarea#example4(rows='2', cols='115')
                .form-row
                  label.col-form-label(style='margin-top:10px') Escolher Vídeo:
                  input#video.form-group(type='file', name='video')
                  label.col-form-label Privacidade:
                  select#priv.form-control(style='width: 150px; margin-bottom: 10px')
                    option(valeu='pub') Público
                    option(valeu='priv') Privado
              // REGISTO DESPORTIVO
              #desportivo.form-row(hidden='')
                h3 Publicar Registo Desportivo:
                .form-group.col-md-6
                  label.col-form-label Desporto:
                  br
                  input.form-control(type='text', placeholder='Desporto')
                .form-group.col-md-6
                  label.col-form-label Duração (hh:mm:ss):
                  input.form-control(type='time', step='2')
                .form-group.col-md-6
                  label.col-form-label Local:
                  br
                  input.form-control(type='text', placeholder='Local')
                .form-group.col-md-6
                  label.col-form-label Calorias gastas (kcal):
                  input.form-control(type='number', min='0')
                label.col-form-label Descrição:
                br
                textarea#example5(rows='2', cols='115')
                .form-row
                  label.col-form-label(style='margin-top:10px') Escolher Foto:
                  input#foto.form-group(type='file', name='foto')
                  label.col-form-label Privacidade:
                  select#priv.form-control(style='width: 150px; margin-bottom: 10px')
                    option(valeu='pub') Público
                    option(valeu='priv') Privado
              // RECEITA
              #receita.form-row(hidden='')
                h3 Publicar Receita:
                label.col-form-label Preparação:
                br
                textarea#prep(rows='4', cols='115', placeholder='Modo de Preparação')
                .form-row
                  label.col-form-label(style='margin-top:10px') Escolher Foto:
                  input#foto.form-group(type='file', name='foto')
                  label.col-form-label Privacidade:
                  select#priv.form-control(style='width: 150px; margin-bottom: 10px')
                    option(valeu='pub') Público
                    option(valeu='priv') Privado
          .modal-footer
            button.w3-button.w3-white.w3-border(type='submit')
              i.fa.fa-check
              |  Publicar
            button.w3-button.w3-white.w3-border(type='button', data-dismiss='modal')
              i.fa.fa-close.fa-fw
              |  Cancelar
    // Modal-Dados pessoais
    #DPModal.modal.fade(role='dialog')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Consultar/Atualizar dados pessoais:
          .modal-body
            #desportivo.form-row
              .form-group.col-md-6
                label.col-form-label Nome:
                br
                input.form-control(type='text')
              .form-group.col-md-6
                label.col-form-label Email:
                input.form-control(type='email')
              .form-group.col-md-6
                label.col-form-label Data de Nascimento:
                br
                input.form-control(type='date')
              .form-group.col-md-6(style='margin-top: 22px')
                button#btn_password.w3-button.w3-white.w3-border(type='button')
                  i.fa.fa-lock.fa-fw
                  |  Alterar Password
              #password.form-group(style=' margin-top: 10px', hidden='')
                .form-group.col-md-6
                  label.col-form-label Password Atual:
                  br
                  input.form-control(type='password')
                .form-group.col-md-6
                  label.col-form-label Nova Password:
                  input.form-control(type='password')
              .form-group(style='margin-left: 15px; margin-top: 10px')
                label.col-form-label Género:
                br
                input#masculino.w3-radio.w3-border(type='radio', name='genero')
                label Masculino
                br
                input#feminino.w3-radio.w3-border(type='radio', name='genero')
                label Feminino
                br
                input#outro.w3-radio.w3-border(type='radio', name='genero')
                label Outro
                br
            .form-row(style='margin-left: 15px; margin-top:10px')
              label.col-form-label Adicionar/Alterar Foto de perfil:
              input#foto.form-group(type='file', name='foto')
          .modal-footer
            button.w3-button.w3-white.w3-border(type='submit')
              i.fa.fa-check
              |  Alterar
            button.w3-button.w3-white.w3-border(type='button', data-dismiss='modal')
              i.fa.fa-close.fa-fw
              |  Sair
