html
	head
		meta(charset="UTF-8")
		link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
		//link(rel="stylesheet" href="/css/style.css")
		script(src='https://code.jquery.com/jquery-2.1.3.min.js')
		script
			include js/testpassword.js
			
		
	body
		div(class="w3-container w3-blue w3-round")
			h2 DigitalMe
		
		//ul 
			li
				a(class="active" href="#") Home
			li
				a(href="#") News
			li
				a(href="#") About
		div(class="w3-display-container")
			div(class="w3-display-container" style="margin-left: 200px")
				form(class="w3-display-topleft" id="regform" action="/signup" method="POST" ) 
					h3 Criar uma nova conta
					fieldset
						legend Informações Pessoais
						lable(for="name") Nome: 
						lable(style="color: red") *
						input(type="text" name="name" class="w3-input w3-border" required autofocus)
						br
						lable(for="username") Email: 
						lable(style="color: red") *
						input(type="email" name="email" class="w3-input w3-border" required)
						br
						lable(for="password") Password: 
						lable(style="color: red") *
						input(type="password" name="password" id="passwordreg1" class="w3-input w3-border", required)
						br
						lable(for="instituicao") Confirme a Password: 
						lable(style="color: red") *
						input(type="password" name="password2" id="passwordreg2" class="w3-input w3-border" required)
						p(style="color: red" id="validate-status")
						
						br
						lable(for="data_nasc") Data de nascimento:
						input(type="date" name="birth_date" id="birth_date" class="w3-input w3-border")
						br
						lable Género:
						br
						lable(for="masculino") Masculino
						input(type="radio" name="gender" value="Male" id="Male" class="w3-radio w3-border")
						br
						lable(for="feminino") Feminino 
						input(type="radio" name="gender" value="Female" id="Female" class="w3-radio w3-border")
						br
						lable(for="outro") Outro 
						input(type="radio" name="gender" value="Other" id="Other" class="w3-radio w3-border")
						br
						p(style="color: red") * - Preenchimento Obrigatório
						p(style="color: red" id="pass-not-valid" )
						button(class="w3-btn w3-blue" id="submit" type='submit') Registar
						span.clearfix

			div(class="w3-display-container" width="150%" style="margin-right: 200px")
				form(class="w3-display-topright" action="/login" method="POST")
					h3 Login
					fieldset
						legend Introduza as suas credênciais
						lable(for="email") Email: 
						input(type="email" name="email" id="email" class="w3-input w3-border" required)
						br
						lable(for="password") Password: 
						input(type="password" name="password" id="passwordlog" class="w3-input w3-border" required)
						br
						button(type="submit" class="w3-btn w3-blue") Login
