<!DOCTYPE html>
<html>
<title>Digital Me</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/emojionearea.min.js"></script>
<link rel="stylesheet" href="css/emojionearea.min.css">
<link rel="stylesheet" href="css/style.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="#home" class="w3-bar-item w3-button">Digital Me</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#menu" class="w3-bar-item w3-button">LogOut</a>
    </div>
  </div>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px; margin-top: 4px;" id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <img src="imagens/fotoRicardo.jpg" style="width:45%;" class="w3-round"><br><br>
    <h4><b>Ricardo Rodrigues</b></h4>
    <p class="w3-text-grey">Área Pessoal</p>
  </div>
  <div class="w3-bar-block">
    <a href="#portfolio" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>Cronologia</a> 
    <a onclick="w3_close()" data-toggle="modal" data-target="#DPModal" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>Dados pessoais</a>
    <a  onclick="w3_close()" data-toggle="modal" data-target="#publicarModal" class="w3-bar-item w3-button w3-padding"><i class="fa fa-paper-plane-o fa-fw w3-margin-right"></i>Publicar</a>
  </div>
  <div class="w3-panel w3-large">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">



  <!-- Header -->
  <header id="portfolio" style="margin-top: 50px">
    <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
    <h1><b>Perfil</b></h1>
    <div class="w3-section w3-bottombar w3-padding-16">
      <span class="w3-margin-right">Filtro:</span> 
      <button class="w3-button w3-black">Tudo</button>
      <button class="w3-button w3-white w3-hide-small"><i class="fa fa-comment-o w3-margin-right"></i>Pensamentos</button>
      <button class="w3-button w3-white w3-hide-small"><i class="fa fa-photo w3-margin-right"></i>Fotos</button>
      <button class="w3-button w3-white w3-hide-small"><i class="fa fa-soccer-ball-o w3-margin-right"></i>Registos Desportivos</button>
      <button class="w3-button w3-white w3-hide-small"><i class="fa fa-caret-square-o-right w3-margin-right"></i>Vídeos</button>
      <button class="w3-button w3-white w3-hide-small"><i class="fa fa-cutlery w3-margin-right"></i>Receitas</button>
      <button class="w3-button w3-white w3-hide-small"><i class="fa fa-group w3-margin-right"></i>Eventos</button>
    </div>
    </div>
  </header>
  
 
   <!--Template Foto-->
        <div class="w3-container w3-white w3-margin w3-padding-large">
          <div class="w3-row w3-margin-bottom">
            <hr>
              <div class="w3-col l1 m3">
                <img src="imagens/fotoRicardo.jpg" style="width:50px; border-radius: 50%;">
              </div>
              <div class="w3-col l6 m9">
                <h4>Ricardo <span class="w3-opacity w3-medium">18 de janeiro de 2017 às 13h24, em Universidade do Minho</span></h4>
              </div>
          </div>
        <div class="w3-justify">
          <p>More Hats! I am crazy about hats these days. Some text about this blog entry. Fashion fashion and mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl.</p>
          <div class="w3-container">
            <center>
              <img src="imagens/girl_hat.jpg" align="middle" style="width:900px;" class="w3-padding-16">
            </center>
          </div>
          <p class="w3-left">
            <button class="w3-button w3-white w3-border" onclick="likeFunction(this)"><b><i class="fa fa-thumbs-up"></i> Like</b></button>
            <button type="button" class="w3-button w3-white w3-border" data-toggle="modal" data-target="#myModal"><b><i class="fa fa-commenting-o"></i> Comentar </b></button>
          </p>
          <p class="w3-right">
            <button class="w3-button w3-black" onclick="myFunction('demo1')" id="myBtn"><b>Comentários</b> <span class="w3-tag w3-white">1</span></button>
          </p>
          <p class="w3-clear"></p>
          <div class="w3-row w3-margin-bottom" id="demo1" style="display:none">
            <hr>
              <div class="w3-col l2 m3">
                <img src="imagens/fotoSantos.jpg" style="width:90px;">
              </div>
              <div class="w3-col l10 m9">
                <h4>George <span class="w3-opacity w3-medium">May 3, 2015, 6:32 PM</span></h4>
                <p>Great blog post! Following</p>
              </div>
          </div>
        </div>
      </div>
      <hr>

       <!-- Template Video-->
        <div class="w3-container w3-white w3-margin w3-padding-large">
         <div class="w3-row w3-margin-bottom">
            <hr>
              <div class="w3-col l1 m3">
                <img src="imagens/fotoRicardo.jpg" style="width:50px; border-radius: 50%;">
              </div>
              <div class="w3-col l6 m9">
                <h4>Ricardo <span class="w3-opacity w3-medium">18 de janeiro de 2017 às 13h24, em Universidade do Minho</span></h4>
              </div>
          </div>

        <div class="w3-justify">
          <p>More Hats! I am crazy about hats these days. Some text about this blog entry. Fashion fashion and mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl.</p>
          <div class="w3-container">
            <center>
              <video width="700" style="margin-top: 20px" controls>
                <source src="videos/videoplayback.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
              </video>
            </center>
          </div>
          <p class="w3-left">
            <button class="w3-button w3-white w3-border" onclick="likeFunction(this)"><b><i class="fa fa-thumbs-up"></i> Like</b></button>
            <button type="button" class="w3-button w3-white w3-border" data-toggle="modal" data-target="#myModal"><b><i class="fa fa-commenting-o"></i> Comentar </b></button>
          </p>
          <p class="w3-right">
            <button class="w3-button w3-black" onclick="myFunction('demo2')" id="myBtn"><b>Comentários</b> <span class="w3-tag w3-white">1</span></button>
          </p>
          <p class="w3-clear"></p>
          <div class="w3-row w3-margin-bottom" id="demo2" style="display:none">
            <hr>
              <div class="w3-col l2 m3">
                <img src="imagens/fotoSantos.jpg" style="width:90px;">
              </div>
              <div class="w3-col l10 m9">
                <h4>George <span class="w3-opacity w3-medium">May 3, 2015, 6:32 PM</span></h4>
                <p>Great blog post! Following</p>
              </div>
          </div>
        </div>
      </div>
      <hr>

        <!--Template Pensamento-->
        <div class="w3-container w3-white w3-margin w3-padding-large">
         <div class="w3-row w3-margin-bottom">
            <hr>
              <div class="w3-col l1 m3">
                <img src="imagens/fotoRicardo.jpg" style="width:50px; border-radius: 50%;">
              </div>
              <div class="w3-col l6 m9">
                <h4>Ricardo <span class="w3-opacity w3-medium">18 de janeiro de 2017 às 13h24, em Universidade do Minho</span></h4>
              </div>
          </div>

        <div class="w3-justify">
          <p>More Hats! I am crazy about hats these days. Some text about this blog entry. Fashion fashion and mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl.</p>
          <p class="w3-left"">
            <button class="w3-button w3-white w3-border" onclick="likeFunction(this)"><b><i class="fa fa-thumbs-up"></i> Like</b></button>
            <button type="button" class="w3-button w3-white w3-border" data-toggle="modal" data-target="#myModal"><b><i class="fa fa-commenting-o"></i> Comentar </b></button>
          </p>
          <p class="w3-right">
            <button class="w3-button w3-black" onclick="myFunction('demo3')" id="myBtn"><b>Comentários</b> <span class="w3-tag w3-white">1</span></button>
          </p>
          <p class="w3-clear"></p>
          <div class="w3-row w3-margin-bottom" id="demo3" style="display:none">
            <hr>
              <div class="w3-col l2 m3">
                <img src="imagens/fotoSantos.jpg" style="width:90px;">
              </div>
              <div class="w3-col l10 m9">
                <h4>George <span class="w3-opacity w3-medium">May 3, 2015, 6:32 PM</span></h4>
                <p>Great blog post! Following</p>
              </div>
          </div>
        </div>
      </div>
      <hr>

        <!--Template Receita-->
        <div class="w3-container w3-white w3-margin w3-padding-large">
         <div class="w3-row w3-margin-bottom">
            <hr>
              <div class="w3-col l1 m3">
                <img src="imagens/fotoRicardo.jpg" style="width:50px; border-radius: 50%;">
              </div>
              <div class="w3-col l6 m9">
                <h4>Ricardo <span class="w3-opacity w3-medium">18 de janeiro de 2017 às 13h24, em Universidade do Minho</span></h4>
              </div>
          </div>

        <div class="w3-justify">
          <h3>Ingredientes:</h3>
            <ul>
              <li>1 pitada de sal </li>
              <li>250 ml de leite</li>
              <li>Manteiga</li>
              <li>12 colheres (sopa) de farinha de </li>
              <li>Trigo</li>
              <li>3 ovos</li>
            </ul>  
            <h3>Preparação:</h3>
            <p>Bata os ovos em uma tigela com o sal; junte a farinha peneirada, misturando com um batedor manual. Adicione, aos poucos, o leite e continue a bater até obter uma massa lisa e homogênea. Cubra a tigela e deixe a massa descansar por 30 minutos. 
            A seguir, bata a massa por mais alguns instantes. Aqueça uma frigideira antiaderente de 18 cm de diâmetro, pincele generosamente com manteiga derretida (assim, não corre o risco de a massa grudar na frigideira). 
            Retire a frigideira do fogo e despeje rapidamente 1 concha da massa preparada. Gire rapidamente a frigideira, inclinando-a em todas as direções de modo que a massa seja distribuída de forma homogênea e forme uma camada bem fina. 
            Volte a frigideira ao fogo e deixe cozinhar o crêpe, em fogo médio, até que o lado inferior esteja dourado e as bordas comecem a se desprender. Esse processo deve durar cerca de 1 minuto. </p>
            <!--div class="w3-container">
              <center>
                <img src="imagens/crepes.jpg" align="middle" style="width:700px" class="w3-padding-16">
              </center>
            </div-->
            <div class="w3-content w3-display-container" style="max-width:800px">
              <img class="mySlides" src="imagens/crepes.jpg" style="width:800px; height: 500px">
              <img class="mySlides" src="imagens/crepes2.jpg" style="width:800px; height: 500px">
              <img class="mySlides" src="imagens/crepes3.jpg" style="width:800px; height: 500px">
              <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
                <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
                <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
              </div>
            </div>
          <div class="w3-container" style="margin-top: 15px">
            <p class="w3-left">
              <button class="w3-button w3-white w3-border" onclick="likeFunction(this)"><b><i class="fa fa-thumbs-up"></i> Like</b></button>
              <button type="button" class="w3-button w3-white w3-border" data-toggle="modal" data-target="#myModal"><b><i class="fa fa-commenting-o"></i> Comentar </b></button>
            </p>
            <p class="w3-right">
              <button class="w3-button w3-black" onclick="myFunction('demo4')" id="myBtn"><b>Comentários</b> <span class="w3-tag w3-white">1</span></button>
            </p>
          </div>
          <p class="w3-clear"></p>
          
          <div class="w3-row w3-margin-bottom" id="demo4" style="display:none">
            <hr>
              <div class="w3-col l2 m3">
                <img src="imagens/fotoSantos.jpg" style="width:90px;">
              </div>
              <div class="w3-col l10 m9">
                <h4>George <span class="w3-opacity w3-medium">May 3, 2015, 6:32 PM</span></h4>
                <p>Great blog post! Following</p>
              </div>
          </div>
        </div>
      </div>
      <hr>


     <!--Template Registo desportivo-->
        <div class="w3-container w3-white w3-margin w3-padding-large">
         <div class="w3-row w3-margin-bottom">
            <hr>
              <div class="w3-col l1 m3">
                <img src="imagens/fotoRicardo.jpg" style="width:50px; border-radius: 50%;">
              </div>
              <div class="w3-col l6 m9">
                <h4>Ricardo <span class="w3-opacity w3-medium">18 de janeiro de 2017 às 13h24, em Universidade do Minho</span></h4>
              </div>
          </div>

        <div class="w3-justify">
          <h3>Registo desportivo:</h3>
            <ul>
              <li><b>Desporto:</b> Corrida</li>
              <li><b>Duração:</b>  00:57:35h</li>
              <li><b>Local:</b> Universidade do Minho</li>
              <li><b>Calorias gastas:</b> 179kcal</li>
            </ul>  
            <h3>Descrição:</h3> 
            <p>No pain, no gain!</p>
            <p></p>
          <p class="w3-left">
            <button class="w3-button w3-white w3-border" onclick="likeFunction(this)"><b><i class="fa fa-thumbs-up"></i> Like</b></button>
            <button type="button" class="w3-button w3-white w3-border" data-toggle="modal" data-target="#myModal"><b><i class="fa fa-commenting-o"></i> Comentar </b></button>
          </p>
          <p class="w3-right">
            <button class="w3-button w3-black" onclick="myFunction('demo5')" id="myBtn"><b>Comentários</b> <span class="w3-tag w3-white">1</span></button>
          </p>
          <p class="w3-clear"></p>
          <div class="w3-row w3-margin-bottom" id="demo5" style="display:none">
            <hr>
              <div class="w3-col l2 m3">
                <img src="imagens/fotoSantos.jpg" style="width:90px;">
              </div>
              <div class="w3-col l10 m9">
                <h4>George <span class="w3-opacity w3-medium">May 3, 2015, 6:32 PM</span></h4>
                <p>Great blog post! Following</p>
              </div>
          </div>
        </div>
      </div>
      <hr>


  <div class="w3-black w3-center w3-padding-24">Powered by MIETI</a></div>

<!-- End page content -->
</div>
  <!-- Modal-Comentários -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Comentário:</h4>
        </div>
        <div class="modal-body">
          <form>
            <!--textarea rows="4" cols="75" autofocus-->
            <textarea id="example1" rows="4" cols="75" autofocus></textarea>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="w3-button w3-white w3-border"><i class="fa fa-check"></i> Enviar Comentário</button>
          <button type="button" class="w3-button w3-white w3-border" data-dismiss="modal"><i class="fa fa-close fa-fw"></i> Sair</button>
        </div>
      </div>
      
    </div>
  </div>

<!-- Modal-Publicar -->
  <div class="modal fade" id="publicarModal" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Publicação:</h4>
        </div>
        <div class="modal-body">
          <div class="modal-body" style="margin-bottom: 20px">
            <center>
              <button id="btn_pensamentos" class="w3-button" style="background-color: #cccccc"><i class="fa fa-comment-o w3-margin-right"></i>Pensamentos</button>
              <button id="btn_fotos" class="w3-button"><i class="fa fa-photo w3-margin-right"></i>Fotos</button>
              <button id="btn_desportivo" class="w3-button"><i class="fa fa-soccer-ball-o w3-margin-right"></i>Registos Desportivos</button>
              <button id="btn_videos" class="w3-button"><i class="fa fa-caret-square-o-right w3-margin-right"></i>Vídeos</button>
              <button id="btn_receita" class="w3-button"><i class="fa fa-cutlery w3-margin-right"></i>Receitas</button>
            </center>
          </div>
          <form>
            <!--PENSAMENTO-->
            <div class="form-row" id="pensamentos" >
              <h3>Publicar Pensamento:</h3>
              <label class="col-form-label">Pensamento:</label><br>
              <textarea id="example2" rows="4" cols="115" placeholder="Em que está a pensar?"></textarea>
              <label class="col-form-label" style="margin-top:10px">Privacidade:</label>
              <select id="priv" style="width: 150px; margin-bottom: 10px" class="form-control">
                <option valeu="pub">Público</option>
                <option valeu="priv">Privado</option>
              </select>
            </div>
            <!--FOTO-->
            <div class="form-row" id="fotos" hidden>
              <h3>Publicar Foto:</h3>
              <label class="col-form-label">Descrição:</label><br>
              <textarea id="example3" rows="2" cols="115"></textarea>
              <div class="form-row">
                <label style="margin-top:10px" class="col-form-label">Escolher Foto:</label>
                <input type="file" class="form-group" name="foto" id="foto" />
                <label class="col-form-label">Privacidade:</label>
                <select id="priv" style="width: 150px; margin-bottom: 10px" class="form-control">
                  <option valeu="pub">Público</option>
                  <option valeu="priv">Privado</option>
                </select>
              </div>
            </div>
            <!--VIDEO-->
            <div class="form-row" id="videos" hidden>
              <h3>Publicar Vídeo:</h3>
              <label class="col-form-label">Descrição:</label><br>
              <textarea id="example4" rows="2" cols="115"></textarea>
              <div class="form-row">
                <label style="margin-top:10px" class="col-form-label">Escolher Vídeo:</label>
                <input type="file" class="form-group" name="video" id="video" />
                <label class="col-form-label">Privacidade:</label>
                <select id="priv" style="width: 150px; margin-bottom: 10px" class="form-control">
                  <option valeu="pub">Público</option>
                  <option valeu="priv">Privado</option>
                </select>
              </div>
            </div>
         
            <!--REGISTO DESPORTIVO-->
            <div class="form-row" id="desportivo" hidden>
              <h3>Publicar Registo Desportivo:</h3>
              <div class="form-group col-md-6" >
                <label class="col-form-label">Desporto:</label><br>
                <input type="text" class="form-control" placeholder="Desporto">
              </div>
              <div class="form-group col-md-6">
                <label for="passos" class="col-form-label">Duração (hh:mm:ss):</label>
                <input type="time" class="form-control" step="2">
              </div>
              <div class="form-group col-md-6" >
                <label class="col-form-label">Local:</label><br>
                <input type="text" class="form-control" placeholder="Local">
              </div>
              <div class="form-group col-md-6">
                <label for="passos" class="col-form-label">Calorias gastas (kcal):</label>
                <input type="number" class="form-control" min="0">
              </div>
              <label class="col-form-label">Descrição:</label><br>
              <textarea id="example5" rows="2" cols="115"></textarea>
              <div class="form-row">
                <label style="margin-top:10px" class="col-form-label">Escolher Foto:</label>
                <input type="file" class="form-group" name="foto" id="foto" />
                <label class="col-form-label">Privacidade:</label>
                <select id="priv" style="width: 150px; margin-bottom: 10px" class="form-control">
                  <option valeu="pub">Público</option>
                  <option valeu="priv">Privado</option>
                </select>
              </div>
            </div>
            <!--RECEITA-->
            <div class="form-row" id="receita" hidden>
              <h3>Publicar Receita:</h3>
              <label class="col-form-label">Preparação:</label><br>
              <textarea id="prep" rows="4" cols="115" placeholder="Modo de Preparação"></textarea>
              <div class="form-row">
                <label style="margin-top:10px" class="col-form-label">Escolher Foto:</label>
                <input type="file" class="form-group" name="foto" id="foto" />
                <label class="col-form-label">Privacidade:</label>
                <select id="priv" style="width: 150px; margin-bottom: 10px" class="form-control">
                  <option valeu="pub">Público</option>
                  <option valeu="priv">Privado</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="w3-button w3-white w3-border"><i class="fa fa-check"></i> Publicar</button>
          <button type="button" class="w3-button w3-white w3-border" data-dismiss="modal"><i class="fa fa-close fa-fw"></i> Cancelar</button>
        </div>
      </div> 
    </div>
  </div>

  <!-- Modal-Dados pessoais -->
  <div class="modal fade" id="DPModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Dados pessoais:</h4>
        </div>
        <div class="modal-body">
          <form>
            
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="w3-button w3-white w3-border"><i class="fa fa-check"></i> Alterar</button>
          <button type="button" class="w3-button w3-white w3-border" data-dismiss="modal"><i class="fa fa-close fa-fw"></i> Sair</button>
        </div>
      </div>
      
    </div>
  </div>


<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>

<script>
// Toggle between hiding and showing blog replies/comments
document.getElementById("myBtn").click();
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}

function likeFunction(x) {
    x.style.fontWeight = "bold";
    x.innerHTML = "✓ Liked";
}
</script>


<script type="text/javascript">
  $(document).ready(function() {
    $("#example1").emojioneArea({
       pickerPosition: "bottom"});
    $("#example2").emojioneArea({
       pickerPosition: "bottom"});
    $("#example3").emojioneArea({
       pickerPosition: "bottom"});
    $("#example4").emojioneArea({
       pickerPosition: "bottom"});
    $("#example5").emojioneArea({
       pickerPosition: "bottom"});
  });
</script>


<script type="text/javascript">
  $(function(){
    $("#btn_pensamentos").click(function(){
        $("#pensamentos").show()
        $("#fotos").hide()
        $("#videos").hide()
        $("#desportivo").hide()
        $("#receita").hide()
        $(this).css("background-color", "#cccccc")
        $("#btn_videos").css("background-color", "white")
        $("#btn_fotos").css("background-color", "white")
        $("#btn_desportivo").css("background-color", "white")
        $("#btn_receita").css("background-color", "white")
      });
    $("#btn_fotos").click(function(){
        $("#fotos").show()
        $("#pensamentos").hide()
        $("#videos").hide()
        $("#desportivo").hide()
        $("#receita").hide()
        $(this).css("background-color", "#cccccc")
        $("#btn_videos").css("background-color", "white")
        $("#btn_desportivo").css("background-color", "white")
        $("#btn_pensamentos").css("background-color", "white")
        $("#btn_receita").css("background-color", "white")
      });
    $("#btn_videos").click(function(){
        $("#videos").show()
        $("#fotos").hide()
        $("#pensamentos").hide()
        $("#desportivo").hide()
        $("#receita").hide()
        $(this).css("background-color", "#cccccc")
        $("#btn_desportivo").css("background-color", "white")
        $("#btn_fotos").css("background-color", "white")
        $("#btn_pensamentos").css("background-color", "white")
        $("#btn_receita").css("background-color", "white")
      });
    $("#btn_desportivo").click(function(){
        $("#desportivo").show()
        $("#fotos").hide()
        $("#videos").hide()
        $("#pensamentos").hide()
        $("#receita").hide()
        $(this).css("background-color", "#cccccc")
        $("#btn_videos").css("background-color", "white")
        $("#btn_fotos").css("background-color", "white")
        $("#btn_pensamentos").css("background-color", "white")
        $("#btn_receita").css("background-color", "white")
      });
    $("#btn_receita").click(function(){
        $("#receita").show()
        $("#fotos").hide()
        $("#videos").hide()
        $("#pensamentos").hide()
        $("#desportivo").hide()
        $(this).css("background-color", "#cccccc")
        $("#btn_videos").css("background-color", "white")
        $("#btn_fotos").css("background-color", "white")
        $("#btn_pensamentos").css("background-color", "white")
        $("#btn_desportivo").css("background-color", "white")
      });
    });
</script>

<script>
  var slideIndex = 1;
  showDivs(slideIndex);

  function plusDivs(n) {
    showDivs(slideIndex += n);
  }

  function currentDiv(n) {
    showDivs(slideIndex = n);
  }

  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    if (n > x.length) {slideIndex = 1}    
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    for (i = 0; i < dots.length; i++) {
       dots[i].className = dots[i].className.replace(" w3-white", "");
    }
    x[slideIndex-1].style.display = "block";  
    dots[slideIndex-1].className += " w3-white";
  }
</script>


</body>
</html>